option_settings:
  # CloudWatch Logs configuration
  aws:elasticbeanstalk:cloudwatch:logs:
    StreamLogs: true
    RetentionInDays: 7
    DeleteOnTerminate: false

  # Enhanced health reporting
  aws:elasticbeanstalk:healthreporting:system:
    SystemType: enhanced

files:
  # Configuración para enviar logs de la aplicación a CloudWatch
  "/etc/awslogs/config/app-logs.conf":
    mode: "000644"
    owner: root
    group: root
    content: |
      [/var/log/web.stdout.log]
      log_group_name=/aws/elasticbeanstalk/todo-tech-shop-back/var/log/web.stdout.log
      log_stream_name={instance_id}
      file=/var/log/web.stdout.log

      [/var/log/eb-engine.log]
      log_group_name=/aws/elasticbeanstalk/todo-tech-shop-back/var/log/eb-engine.log
      log_stream_name={instance_id}
      file=/var/log/eb-engine.log

container_commands:
  01_restart_cloudwatch_agent:
    command: |
      systemctl restart awslogsd.service
    ignoreErrors: true