commands:
  01_disable_swap:
    command: swapoff -a
  02_reduce_swappiness:
    command: echo "vm.swappiness=10" >> /etc/sysctl.conf && sysctl -p

option_settings:
  # Environment optimization
  aws:elasticbeanstalk:environment:proxy:
    GzipCompression: true
  aws:elasticbeanstalk:environment:process:default:
    StickySessionEnabled: false